/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

#canvas {
  background-color: #f0f0f0;
  border-radius: 5px;
}

#char {
  display: none;
}
